.fd-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10001;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}

.fd-button-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fd-window {
  position: fixed;
  top: 20px;
  z-index: 10000;
  overflow: hidden;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 15px;
  display: none;
  flex-direction: column;
  width: 500px;
  height: 700px;
}

.fd-title-bar {
  background-color: #f0f0f0;
  cursor: move;
  padding: 0 10px 10px 10px;
  color: black;
}

.fd-iframe {
  border: none;
  background-color: white;
  flex-grow: 1;
  border-radius: 15px;
}

.fd-resize-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10002;
  cursor: se-resize;
}
